﻿@model Assignment1.Models.TrinhDoHocVan

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>TrinhDoHocVan</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.TenTrinhDo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TenTrinhDo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ChuyenNganh)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ChuyenNganh)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.MaTDHV }) |
    @Html.ActionLink("Back to List", "Index")
</p>
