﻿@model IEnumerable<Assignment1.Models.TrinhDoHocVan>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.TenTrinhDo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ChuyenNganh)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.TenTrinhDo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ChuyenNganh)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.MaTDHV }) |
            @Html.ActionLink("Details", "Details", new { id=item.MaTDHV }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.MaTDHV })
        </td>
    </tr>
}

</table>
