﻿@model Assignment1.Models.Luong

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Luong</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.LuongCoBan)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LuongCoBan)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.HeSoLuong)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HeSoLuong)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.BacLuong }) |
    @Html.ActionLink("Back to List", "Index")
</p>
