﻿@model bankApp1.Models.ACCOUNT

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>ACCOUNT</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.AVAIL_BALANCE)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AVAIL_BALANCE)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CLOSE_DATE)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CLOSE_DATE)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LAST_ACTIVITY_DATE)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LAST_ACTIVITY_DATE)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.OPEN_DATE)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OPEN_DATE)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PENDING_BALANCE)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PENDING_BALANCE)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.STATUS)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.STATUS)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BRANCH.ADDRESS)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BRANCH.ADDRESS)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CUSTOMER.ADDRESS)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CUSTOMER.ADDRESS)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EMPLOYEE.FIRST_NAME)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EMPLOYEE.FIRST_NAME)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PRODUCT.NAME)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PRODUCT.NAME)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ACCOUNT_ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
