﻿@model bankApp.Models.EMPLOYEE

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>EMPLOYEE</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.END_DATE)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.END_DATE)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FIRST_NAME)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FIRST_NAME)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LAST_NAME)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LAST_NAME)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.START_DATE)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.START_DATE)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TITLE)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TITLE)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BRANCH.ADDRESS)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BRANCH.ADDRESS)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DEPARTMENT.NAME)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DEPARTMENT.NAME)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EMPLOYEE2.FIRST_NAME)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EMP)
        </dd>

    </dl>
</div>
div>
<h3> Transaction History</h3>
<table class="table-striped" style="width:100%;">
    <tr>
        <th>TXN_TYPE_CD</th>
        <th>Amount</th>
        <th> Branch</th>
        <th>FUNDS_AVAIL_DATE</th>
        <th>TXN_DATE</th>
        <th>product name
        </th>
        <th>OPEN EMP id </th>
        

    </tr>
    @foreach (var item in Model.ACCOUNTs)
    {
        foreach (var i in item.ACC_TRANSACTION)
        {
            <tr>
                <td>
                    @Html.DisplayFor(itemModel => i.TXN_TYPE_CD)
                </td>
                <td>
                    @Html.DisplayFor(itemModel => i.AMOUNT)
                </td>
                <td>
                    @Html.DisplayFor(itemModel => i.BRANCH.NAME)

                </td>
                <td>
                    @Html.DisplayFor(itemModel => i.FUNDS_AVAIL_DATE)
                </td>
                <td>
                    @Html.DisplayFor(itemModel => i.TXN_DATE)
                </td>
                <td>
                    @Html.DisplayFor(itemModel => i.EMPLOYEE.FIRST_NAME)
                </td>
                <td>
                    @Html.DisplayFor(itemModel => i.)

                </td>
               
            </tr>
        }
    }
</table>
    </div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.EMP_ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
