﻿@model IEnumerable<Assignment1.Models.PhongBan>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.TenPB)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DiaChi)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DTPB)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.TenPB)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DiaChi)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DTPB)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.MaPB }) |
            @Html.ActionLink("Details", "Details", new { id=item.MaPB }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.MaPB })
        </td>
    </tr>
}

</table>
