﻿<html>
<head>
    <meta name="viewport" content="width=device-width"/>
</head>
<body>
    <fieldset>
        <legend>
            ListBook
        </legend>
        <table cellpadding="2" cellspacing="2">
            <tr>
                <th>
                    BookId
                </th>
                <th>BookName</th>
                <th>ISBN</th>
            </tr>
            @foreach (var b in ViewBag.listBooks)
            {
                <tr>
                    <td>@b.BookId</td>
                    <td>@b.Title</td>
                    <td>@b.ISBN</td>
                </tr>
            }
    </fieldset>
</body>
</html>